@media screen and (min-width: 768px) {
    .bricklayer-column-sizer {
        width: 25%;
    }
}
@media screen and (min-width: 1536px) {
    .bricklayer-column-sizer {
        width: 20%;
    }
}
@media screen and (min-width: 3072px) {
    .bricklayer-column-sizer {
        width: 10%;
    }
}
.card {
    margin: 10px 0px;
}